# Python virtual environment
venv/
env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Large data files
*.dylib
*.so
*.dll
*.db
*.sqlite3

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db
